.task-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex: 1;
  border: 1px solid;
  padding: 5px;
  border-color: #BE3144;
  border-radius: 10px;
  margin-top: 5px;
}

.expand-task-button{
  background-color: transparent;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

.arr-task{
  margin-top: 2px;
  width: 24px;
  height: 24px;
}

/*.task-info{
  margin-left: -15px;
  margin-right: 35px;
  flex: 1;  
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}*/

.task-attribute{
  margin: 0;
}

/*.date{
  margin-left: 10px;
}*/

/*.task-name{
  margin-left: 52px;
}*/

.edit-button{
  width: 105px;
  padding: 7px 0px;
  font-family: Outfit;
  font-size: 13px;
  background-color: #244CA1;
  font-weight: 600;
  border-radius: 6px;
  color: white;
  border: none;
  cursor: pointer;
}

.delete-button{
  width: 105px;
  padding: 7px 0px;
  font-family: Outfit;
  font-size: 13px;
  font-weight: 600;
  background-color: #BE3144;
  border-radius: 6px;
  color: white;
  border: none;
  cursor: pointer;
  margin-left: 7px;
}

.target-task-completed{
  margin: 0;
  background-color: #0DCB46;
  color: white;
  padding: 5px 25px;
  border-radius: 6px;
}

.target-task{
  margin: 0;
  background-color: #244CA1;
  color: white;
  padding: 5px 25px;
  border-radius: 6px;
}

.manage-target-task{
  padding: 3px 23px;
  margin-right: 5px;
  border: none;
  border-radius: 6px;
  background-color: white;
  font-family: Outfit;
  color: black;
  font-weight: 500;
  font-size: 18px;
  cursor: pointer;
}