::-webkit-scrollbar{
  width: 8px;
}

::-webkit-scrollbar-track{
  background: #ffffff00;
}

::-webkit-scrollbar-thumb{
  background: #872341;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover{
  background: #57172a;
}
